* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
html,
body {
  font-family: "Ruslan Display", cursive;
  height: 100%;
  width: 100%;
  overflow: hidden;
  margin: 0;
  background: #0575e6; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to bottom,
    #021b79,
    #0575e6
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to bottom,
    #021b79,
    #0575e6
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

img{
  max-width:100%;
}

h1 {
  font-size: 52px;
  text-align: center;
  color: #ffcc66;
  text-shadow: 1px 1px 0 red;
  margin: 0px;
}

h2{
    font-size: 40px;
    text-align: center;
    color: #FF3376;
    text-shadow: 1px 1px 0 black;
    margin: 5px;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.container .spiderman {
  width: 300px;
  vertical-align: top;
  margin-top: -60px;
  animation-name: animar;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

.shadow {
  width: 200px;
  height: 20px;
  margin: 20px 0;
  margin-left: 20px;
  background-color: rgba(0, 0, 0, 0.2);
  border-radius: 50%;
  animation: sombra 2s alternate infinite;
}

@keyframes animar {
  from {
    transform: translateY(-100px);
  }

  to {
    transform: translateY(0px);
  }
}

@keyframes sombra {
  0% {
    transform: scale(1);
  }

  100% {
    transform: scale(0.6);
    opacity: 0.2;
  }
}

/*Button Code */
.glow-on-hover {
    width: 220px;
    height: 50px;
    border: none;
    outline: none;
    font-size: 25px;
    font-family: "Ruslan Display", cursive;
    color: #FF3376;
    text-shadow: 1px 1px 0 white;
    background: #ffcc66;
    cursor: pointer;
    position: relative;
    z-index: 0;
    border-radius: 10px;
    
}

.glow-on-hover:before {
    content: '';
    background: linear-gradient(45deg, #ff0000, #ff7300, #fffb00, #48ff00, #00ffd5, #002bff, #7a00ff, #ff00c8, #ff0000);
    position: absolute;
    top: -2px;
    left:-2px;
    background-size: 400%;
    z-index: -1;
    filter: blur(5px);
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    animation: glowing 20s linear infinite;
    opacity: 0;
    transition: opacity .3s ease-in-out;
    border-radius: 10px;
}

.glow-on-hover:active {
    color: #ffcc66;
}

.glow-on-hover:active:after {
    background: transparent;
}

.glow-on-hover:hover:before {
    opacity: 1;
}

.glow-on-hover:after {
    z-index: -1;
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: #111;
    left: 0;
    top: 0;
    border-radius: 10px;
}

@keyframes glowing {
    0% { background-position: 0 0; }
    50% { background-position: 400% 0; }
    100% { background-position: 0 0; }
}

.button {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/*Code for Valentines page*/
@import url('https://fonts.googleapis.com/css?family=Gochi+Hand');

*{
	box-sizing:border-box;
}

html::-webkit-scrollbar { 
	display: none; 
}

body{
    font-family: "Ruslan Display", cursive;
  height: 100%;
  width: 100%;
  overflow: scroll;
  margin: 0;
	 background: #0575e6; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to bottom,
    #021b79,
    #0575e6
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to bottom,
    #021b79,
    #0575e6
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
}
p{
	text-align: center;
	color: #ffcbcd;
	font-size: 0.9rem;
	font-family: 'Gochi Hand', cursive;
}
.spidy-wrapper{
	width: 100%;
	height: 100%;
	display: flex;
	flex-wrap: wrap;
	place-content: center;
	padding-top:3rem;
}

.spidy__frame {
	position: relative;
	width: 400px;
	height: 400px;
	box-shadow: 4px 8px 16px 0 rgba(0,0,0,0.1);
	background: #181041;
	box-shadow: 10px 5px 20px #5d0c0f;
	cursor: pointer;
}

.spidy__frame > img{
	width: 115%;
	bottom: -5rem;
	left: -1.8rem;
	position: absolute;
	
}

.center {
	height:100%;
	position:relative;
}

.center__element{
	width: 200px;
	margin:auto;
	margin-top:-2rem;
	position: relative;
	transition: all 0.5s cubic-bezier(0.52, 0.11, 0.07, 0.62);
}

.spidy__frame:hover .center__element{
	margin-top:7rem;
}

.center__element img{
	width:100%;
	filter: drop-shadow(0px 40px 10px #0e072c);
}

.element__tooltip{
	background: #ffffff1a;
	padding: 0.5rem 1rem;
	text-align: center;
	width: 150%;
	border-radius: 5px;
	position: absolute;
	top: -6rem;
	left: -3.5rem;
	z-index: 2;
	opacity: 0;
	transition: all .5s;
	color: #ffcc66;
    font-size: 25px;
    text-shadow: 1px 1px 0 white;
	font-family: "Ruslan Display", cursive;
	letter-spacing: 2px;
	box-shadow: 0px 5px 10px #100932;
}

.element__tooltip:before{
	content: '';
	width: 1px;
	height: 120%;
	position: absolute;
	top: 100%;
	left: 4.5rem;
	border-radius: 40%;
	transform: rotate(20deg);
	background-image: repeating-linear-gradient(50deg, #ffffff, #ffffff 3px, #000000 3px, #000000 5px);
}

.element__tooltip:after{
	content: '';
	width: 1px;
	height: 100%;
	position: absolute;
	top: 100%;
	border-radius: 40%;
	right: 3.8rem;
	transform: rotate(-25deg);
	background-image: repeating-linear-gradient(50deg, #ffffff, #ffffff 3px, #000000 3px, #000000 4px);
}

.spidy__frame:hover .element__tooltip{
		opacity: 1;
		transition: all 2s;
}

/* Code for button Yes or No*/
.modal {
  position: relative;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: auto;
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  padding: 1.6rem 3rem;
  border: 3px solid black;
  border-radius: 5px;
  background: white;
  box-shadow: 8px 8px 0 rgba(0, 0, 0, 0.2);
}
.message {
  font-size:1.1rem;
  margin-bottom: 1.6rem;
  margin-top: 0;
}
.btn {
  color:inherit;
    font-family:inherit;
  font-size: inherit;
  background: white;
  padding: 0.3rem 3.4rem;
  border: 3px solid black;
  margin-right: 2.6rem;
  box-shadow: 0 0 0 black;
  transition: all 0.2s;
}

.btn:last-child {
  margin: 0;
}

.btn:hover {
  box-shadow: 0.4rem 0.4rem 0 black;
  transform: translate(-0.4rem, -0.4rem);
}

.btn:active {
  box-shadow: 0 0 0 black;
  transform: translate(0, 0);
}

.options {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

/*Code for spider animation*/
